
/* Codrops Template */


*{
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;

  --color-text: #fff;
  --color-bg: #000;
  --color-link: #afafaf;
  --color-link-hover: #fff;
  --page-padding: 1.5rem;
}


body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "Instrument Sans", Helvetica, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* hide scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide scrollbar */

/* 
  @media (scripting: enabled){}
  → ページがJavaScriptを実行できる状態である場合にのみ適用される
*/
@media (scripting: enabled) {
  .loading {
    &::before,
    &::after {
      content: '';
      position: fixed;
      z-index: 10000;
    }

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-bg);
    }

    &::after {
      top: 50%;
      left: 50%;
      width: 100px;
      height: 1px;
      margin: 0 0 0 -50px;
      background: var(--color-link);
      animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;
    }

    @keyframes loaderAnim {
      0% {
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }
      50% {
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
      50.1% {
        transform: scaleX(1);
        transform-origin: 100% 50%;
      }
      100% {
        transform: scaleX(0);
        transform-origin: 100% 50%;
      }
    }
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
  }

  &:focus {
    outline: none;
    background: lightgrey;

    &:not(:focus-visible) {
      background: transparent;
    }

    &:focus-visible {
      outline: 2px solid red;
      background: transparent;
    }
  }
}


.header {
  padding: 3rem var(--page-padding) 0;
  display: grid;
  z-index: 1000;
  position: relative;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;
  grid-template-columns: auto auto;
  grid-template-areas:
    'title'
    'back'
    'archive'
    'github'
    'tags'
    'sponsor';

  #cdawrap {
    justify-self: start;
    grid-area: sponsor;
  }

  a,
  button {
    pointer-events: auto;
  }

  .header__title {
    grid-area: title;
    font-size: inherit;
    margin: 0;
  }

  .header__back {
    grid-area: back;
    justify-self: start;
  }

  .header__archive {
    grid-area: archive;
    justify-self: start;
  }

  .header__github {
    grid-area: github;
  }

  .header__tags {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .header__demos {
    grid-area: demos;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media screen and (min-width: 53em) {
    padding: var(--page-padding);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: auto auto;
    align-content: space-between;
    grid-template-areas:
      'title back github archive tags'
      'sponsor sponsor sponsor ... ...';

    .header__tags {
      justify-self: end;
    }

    .header__demos,
    #cdawrap {
      align-self: end;
      max-width: 300px;
    }
  }
}

.content {
  padding: var(--page-padding);
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 53em) {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section{
    height: 100vh;
    position: relative;
}

.heading {
    text-transform: uppercase;
    mix-blend-mode: difference;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 12vmin;
    font-weight: 500;
}
